In [2]:
book = {}

In [3]:
def info_book():
    """Creates a phone book with names as key and a list of dictionaries as values"""
    
    while True:
        names = input('Please enter the First and Last name separated by space (or type "exit" to quit): ')
        if names.lower() == 'exit':
            break
            
        number = input('Please enter the phone number: ')
        address = input('Please enter your location: ')
        full_name = " ".join(names.split())
        # Check if the full name exists in the phone book
        if full_name in book:
            # If the name exists , append the new entry to the existing list of entries
            book[full_name].append({ 'address' : address, 'number' : number })
        else :
            # If the name does not exist, create a new entry with a list containing the dictionary
            book[full_name] = [{ 'address' : address, 'number' : number }]
    
    return book

In [4]:
# calling the function. Use the following function to use whenever required.

info_book()

{'Anivesh Sharma': [{'address': 'New Delhi', 'number': '6205561988'}],
 'Alex Sharma': [{'address': 'Ballia', 'number': '8400236709'}],
 'Eva Sharma': [{'address': 'Sagarpur', 'number': '7237858169'}],
 'Anshu Sharma': [{'address': 'Raghunathpur', 'number': '7739927736'}]}

# 1. Print all the names in the above dictionary

In [9]:

print(book.keys())

dict_keys(['Anivesh Sharma', 'Alex Sharma', 'Eva Sharma', 'Anshu Sharma'])

# 2. Print all the values associated with the names

In [10]:
book

{'Anivesh Sharma': [{'address': 'New Delhi', 'number': '6205561988'}],
 'Alex Sharma': [{'address': 'Ballia', 'number': '8400236709'}],
 'Eva Sharma': [{'address': 'Sagarpur', 'number': '7237858169'}],
 'Anshu Sharma': [{'address': 'Raghunathpur', 'number': '7739927736'}]}

# 3. You want to enter one more Name but the number and address are not known yet. Add the new name with no values in the above dictionary

In [11]:
info_book()

{'Anivesh Sharma': [{'address': 'New Delhi', 'number': '6205561988'}],
 'Alex Sharma': [{'address': 'Ballia', 'number': '8400236709'}],
 'Eva Sharma': [{'address': 'Sagarpur', 'number': '7237858169'}],
 'Anshu Sharma': [{'address': 'Raghunathpur', 'number': '7739927736'}],
 'Rohit Sharma': [{'address': '', 'number': ''}]}

In [12]:
book

{'Anivesh Sharma': [{'address': 'New Delhi', 'number': '6205561988'}],
 'Alex Sharma': [{'address': 'Ballia', 'number': '8400236709'}],
 'Eva Sharma': [{'address': 'Sagarpur', 'number': '7237858169'}],
 'Anshu Sharma': [{'address': 'Raghunathpur', 'number': '7739927736'}],
 'Rohit Sharma': [{'address': '', 'number': ''}]}

## 4. Add a candidate with the name ‘Matt Daemon’ whose number is 555010898 and lives in Pune to the book dictionary.

In [13]:
info_book()

{'Anivesh Sharma': [{'address': 'New Delhi', 'number': '6205561988'}],
 'Alex Sharma': [{'address': 'Ballia', 'number': '8400236709'}],
 'Eva Sharma': [{'address': 'Sagarpur', 'number': '7237858169'}],
 'Anshu Sharma': [{'address': 'Raghunathpur', 'number': '7739927736'}],
 'Rohit Sharma': [{'address': '', 'number': ''}],
 'Matt Daemon': [{'address': 'Pune', 'number': '555010898'}]}

## 5. Matt Daemon has relocated to New York and his new number is 444333888. Change his number and address in the dictionary.

In [17]:
book["Matt Daemon"][0]["address"]='New York'

In [18]:
book

{'Anivesh Sharma': [{'address': 'New Delhi', 'number': '6205561988'}],
 'Alex Sharma': [{'address': 'Ballia', 'number': '8400236709'}],
 'Eva Sharma': [{'address': 'Sagarpur', 'number': '7237858169'}],
 'Anshu Sharma': [{'address': 'Raghunathpur', 'number': '7739927736'}],
 'Rohit Sharma': [{'address': '', 'number': ''}],
 'Matt Daemon': [{'address': 'New York', 'number': '555010898'}]}

6. Given below is another information stored in dictionary made by your colleague. Add/Merge these
values to you existing book dictionary.


{'Jon Snow': [{'address': 'Sydney', 'number': '500600700'}],
'Thomas Shelby': [{'address': 'Birmingham', 'number': '888000111'}],
'Alex Botez': [{'address': 'California', 'number': '464555202'}],
'Vidit Gujarati': [{'address': 'Mumbai', 'number': '7711155530'}],
'Manasi Joshi': [{'address': 'Delhi', 'number': '8000500023'}]}/

In [19]:
new_info = {'Jon Snow': [{'address': 'Sydney', 'number': '500600700'}],
'Thomas Shelby': [{'address': 'Birmingham', 'number': '888000111'}],
'Alex Botez': [{'address': 'California', 'number': '464555202'}],
'Vidit Gujarati': [{'address': 'Mumbai', 'number': '7711155530'}],
'Manasi Joshi': [{'address': 'Delhi', 'number': '8000500023'}]}

In [20]:
book.update(new_info)

In [21]:
book

{'Anivesh Sharma': [{'address': 'New Delhi', 'number': '6205561988'}],
 'Alex Sharma': [{'address': 'Ballia', 'number': '8400236709'}],
 'Eva Sharma': [{'address': 'Sagarpur', 'number': '7237858169'}],
 'Anshu Sharma': [{'address': 'Raghunathpur', 'number': '7739927736'}],
 'Rohit Sharma': [{'address': '', 'number': ''}],
 'Matt Daemon': [{'address': 'New York', 'number': '555010898'}],
 'Jon Snow': [{'address': 'Sydney', 'number': '500600700'}],
 'Thomas Shelby': [{'address': 'Birmingham', 'number': '888000111'}],
 'Alex Botez': [{'address': 'California', 'number': '464555202'}],
 'Vidit Gujarati': [{'address': 'Mumbai', 'number': '7711155530'}],
 'Manasi Joshi': [{'address': 'Delhi', 'number': '8000500023'}]}

7. Jon Snow has ended membership from your organization. Remove his entry and details from your dictionary

In [22]:
book.pop("Jon Snow")

[{'address': 'Sydney', 'number': '500600700'}]

In [23]:
book

{'Anivesh Sharma': [{'address': 'New Delhi', 'number': '6205561988'}],
 'Alex Sharma': [{'address': 'Ballia', 'number': '8400236709'}],
 'Eva Sharma': [{'address': 'Sagarpur', 'number': '7237858169'}],
 'Anshu Sharma': [{'address': 'Raghunathpur', 'number': '7739927736'}],
 'Rohit Sharma': [{'address': '', 'number': ''}],
 'Matt Daemon': [{'address': 'New York', 'number': '555010898'}],
 'Thomas Shelby': [{'address': 'Birmingham', 'number': '888000111'}],
 'Alex Botez': [{'address': 'California', 'number': '464555202'}],
 'Vidit Gujarati': [{'address': 'Mumbai', 'number': '7711155530'}],
 'Manasi Joshi': [{'address': 'Delhi', 'number': '8000500023'}]}

8. Check/Print how many entries you have in your dictionary

In [26]:
print(f"Their are {len(book)} entries in the dictionary")

Their are 10 entries in the dictionary