#        Python Assignment 2 (List and Tuples)

# 1. Create an empty list. Prompt the user to enter a city name in India. Append the city names in the list. Repeat until 5 cities.

In [1]:
cities = []

for i in range(5):
    city = input("Enter City Name : ")
    cities.append(city)
print(cities)

Enter City Name :  Ballia
Enter City Name :  Gorakhpur
Enter City Name :  Sivan
Enter City Name :  Buxar
Enter City Name :  Sagarpur

['Ballia', 'Gorakhpur', 'Sivan', 'Buxar', 'Sagarpur']

# 2. Print the index of all the cities

In [8]:
for index, city in enumerate(cities):
    print(f"Index : {index} , City : {city}")

Index : 0 , City : Ballia
Index : 1 , City : Gorakhpur
Index : 2 , City : Sivan
Index : 3 , City : Buxar
Index : 4 , City : Sagarpur

# 3  Swap the first and last cities

In [9]:
cities

['Ballia', 'Gorakhpur', 'Sivan', 'Buxar', 'Sagarpur']

In [10]:
cities [0], cities[-1] = cities[-1], cities[0]
print(cities)

['Sagarpur', 'Gorakhpur', 'Sivan', 'Buxar', 'Ballia']

# 4. Change the cities in the third and fourth position to ‘Berlin’ and ‘Rome’.

In [11]:
cities

['Sagarpur', 'Gorakhpur', 'Sivan', 'Buxar', 'Ballia']

In [13]:
cities[2],cities[3] = ["Berlin", "Rome"]

In [14]:
cities

['Sagarpur', 'Gorakhpur', 'Berlin', 'Rome', 'Ballia']

# 5. Slice the names Berlin and Rome and store in a new list for international cities.

In [15]:
internaional_cities = [cities[2],cities[3]]

In [16]:
internaional_cities

['Berlin', 'Rome']

In [17]:
for i in range(3):
    inter_cties = input("Enter the name of International Cities : ")
    internaional_cities.append(inter_cties)

Enter the name of International Cities :  New York
Enter the name of International Cities :  Los Angeles
Enter the name of International Cities :  Chicago

In [18]:
internaional_cities

['Berlin', 'Rome', 'New York', 'Los Angeles', 'Chicago']

# 7. Print the length of both the lists.

In [22]:
len(cities),  len(internaional_cities)

(5, 5)

# 8. Combine both the list with International cities first then Reverse the list. The final list should have Indian cities first then International cities.

In [25]:
merged_list = internaional_cities + cities

In [27]:
print(merged_list)

['Berlin', 'Rome', 'New York', 'Los Angeles', 'Chicago', 'Sagarpur', 'Gorakhpur', 'Berlin', 'Rome', 'Ballia']

In [28]:
merged_list.reverse()

In [30]:
print(merged_list)

['Ballia', 'Rome', 'Berlin', 'Gorakhpur', 'Sagarpur', 'Chicago', 'Los Angeles', 'New York', 'Rome', 'Berlin']

# 9. Remove the city at the third position.

In [32]:
merged_list.remove(merged_list[2])

In [35]:
print(merged_list)

['Ballia', 'Rome', 'Gorakhpur', 'Sagarpur', 'Chicago', 'Los Angeles', 'New York', 'Rome', 'Berlin']

# 10. Below is given a list of words. Combine them to for a String sentence in upper case:
['Delhi', 'is', 'a', 'bustling', 'metropolis', 'that', 'seamlessly', 'blends', 'a', 'rich', 'historical', 'past', 'with',
'the', 'modern', 'world.', 'It', 'has', 'a', 'deep-rooted', 'history', 'dating', 'back', 'thousands', 'of', 'years,',
'making', 'it', 'one', 'of', 'the', 'oldest', 'continuously', 'inhabited', 'cities', 'in', 'the', 'world.']

In [36]:
para = ['Delhi', 'is', 'a', 'bustling', 'metropolis', 'that', 'seamlessly', 'blends', 'a', 'rich', 'historical', 'past', 'with', 'the', 'modern', 'world.', 'It', 'has', 'a', 'deep-rooted', 'history', 'dating', 'back', 'thousands', 'of', 'years,', 'making', 'it', 'one', 'of', 'the', 'oldest', 'continuously', 'inhabited', 'cities', 'in', 'the', 'world.']

In [40]:
combined_string = " ".join(para).upper()    # using space as a seperator

In [41]:
combined_string

'DELHI IS A BUSTLING METROPOLIS THAT SEAMLESSLY BLENDS A RICH HISTORICAL PAST WITH THE MODERN WORLD. IT HAS A DEEP-ROOTED HISTORY DATING BACK THOUSANDS OF YEARS, MAKING IT ONE OF THE OLDEST CONTINUOUSLY INHABITED CITIES IN THE WORLD.'